/*Navigation*/


.navigation {
	margin: 0px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;
}

.navigation:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navigation {
	background-color: orange;
}

.navigation img {
	width: 2.5em;
	border-radius: 50%;
	border: 3px solid black
}

.navbar-brand {
	margin-left: 10px;
}

.navigation h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bangers';
	font-size: 25px;
	margin: 0 auto;
}

.navigation button {
	margin-right: 15px;
}

/*
**Header
*/

.header {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;
}

.header:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header h1 {
	font-weight: 400;
	font-family: 'Bangers';
	margin: 0 auto;
}



/*
**About
*/

.about {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em 1em 1em 1em;
}


.about:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Bangers';
}

.image {
	padding-bottom: 1em;
	padding-left: 5em;
	margin: 0 auto;
}

.about img {
	border-radius: 50%;
	width: 150px;
}

.about-me p {
	padding-top: 30px;
	text-align: left;
}

/*
**Connect
*/

.connect {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;
}


.connect:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.connect h1 {
	text-align: center;
	font-family: 'Bangers';
	padding-bottom: 1em;
}

.connect .github, .linked, .insta {
	width: 200px;
	margin: 0 0 2em 2em; 
}

