#about , #connect { 
  margin-top: -300px;        /* Size of fixed header */
  padding-bottom: 300px; 
  display: block; 
}

/*Navigation*/

.col-btn {
	margin-right: 10px;
}

.navigation {
	margin: 5px;
	background-color: orange;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navigation:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.logo {
	margin-left: 5px;
	width: 70px;
	border-radius: 50%;
	border: 3px solid black;
}

.nav-text {
	color: white;
	text-transform: uppercase;
	font-family: 'Bangers';
	padding-left: 6px;
	padding-right: 10px;
	text-shadow: 3px 3px black;
}

@media screen and (max-width: 310px) {
	.nav-text {
		color: white;
		text-transform: uppercase;
		font-family: 'Bangers';
		text-shadow: 3px 3px black;
		padding:0;
	}

	.logo {
		align-content: center;
		width: 30px;
		border-radius: 50%;
		border: 3px solid black;
		padding:0;
	}
} 

.nav-item {
	margin:20px;
}

.nav-link {
	border: 2px solid transparent;
	padding: 1em;
}

.navbar-collapse{ 
	justify-content: flex-end;
}

.nav-link:hover {
	padding: 1em;
	border: 2px solid black;
	border-radius: 5px;
}


/*
**Header
*/

.header {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;
}

.header:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header h1 {
	font-weight: 400;
	font-family: 'Bangers';
}

/*
**About
*/

.about {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em 1em 1em 1em;
}


.about:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Bangers';
}

.image {
	padding-bottom: 1em;
	padding-left: 5em;
}

.image img {
	border-radius: 50%;
	width: 150px;
}

.about-me p {
	padding-top: 30px;
	text-align: left;
}

/*
**Connect
*/

.connect {
	margin: 20px;
	background-color: cyan;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;
}


.connect:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.connect h1 {
	text-align: center;
	font-family: 'Bangers';
	padding-bottom: 1em;
}

.connect .github {
	width: 200px;
	margin: 0 0 2em 4em; 
}

.connect .insta {
	width: 200px;
	margin: 0 0 2em 4em;
}
.connect .linked {
	width: 200px;
	margin: 0 0 2em 4em;
}
